## Testing PostgreSQL Database

In [10]:
from Modules.NewTwitterReader import NewTwitterCorpusReader
from Modules.TwitterDatabase import TwitterDatabase
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
from Modules.models import *
import pandas as pd

In [2]:
DOC_PATTERN = r'HPC_Data/streamed_[0-3][0-9]_[0-1][0-9]_[0-9][0-9][0-9][0-9]_[0-9][0-9]_[0-9][0-9]_[0-9][0-9]\.json\.gz$'
CAT_PATTERN = r'.*HPC_Data.*'
# CAT_PATTERN = r'[0-2][0-9][0-9][0-9]-[0-3][0-9]-[0-1][0-9]'
root = r"../Twitter-Data"
corpus = NewTwitterCorpusReader(root = root, cat_pattern = CAT_PATTERN)

In [3]:
database_url = "postgres+psycopg2://bogdanowicz:urbandata@localhost:5432/twitter"
database = TwitterDatabase(corpus, database_url)

In [4]:
###Building Tables first
engine = create_engine(database_url)
Base.metadata.drop_all(engine)
Base.metadata.create_all(engine)

In [5]:
updating = database.update_database(categories = CAT_PATTERN)

In [6]:
len(list(updating))

4

In [8]:
#Code runs without issues

In [11]:
loc = pd.read_sql("location", engine)

,user_id,suburb,city_dist,city,state_dist,state,region_cn,country,region_wd
64,703732597550149632,None,None,new york,None,ny,None,None,None
71,2855853549,None,None,hicksville,None,ny,None,None,None
119,1187164748,None,bronx,None,None,ny,None,None,None
145,469693410,None,None,None,None,ny,None,None,None
301,354992242,None,None,new york,None,ny,None,None,None
...,...,...,...,...,...,...,...,...,...
11670,36769923,None,None,new york,None,ny,None,None,None
11675,899854788,None,None,rochester,None,ny,None,None,None
11706,1063750279,None,None,None,None,ny,None,None,None
11707,1469000281,None,None,long beach,None,ny,None,None,None
11818,1167819233511825416,None,brooklyn,None,None,ny,None,None,None